/*styling for entire page*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
}

.main-content {
  margin: 0 auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

/* center dashboard */
.content-wrapper {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Responsive Design for smaller screens*/
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .content-wrapper {
    padding: 10px;
  }
}
