/*styling for entire page*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
}

/* center dashboard */
.content-wrapper {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Responsive Design*/
@media (max-width: 768px) {
  .content-wrapper {
    padding: 10px;
  }
}
