:root {
  /* Fonts */
  --primary-font: "DM Sans", sans-serif !important;
  /*--primary-font: "Roboto", sans-serif !important;*/
  font-style: normal;
  font-weight: 400;
  --font-weight-thin: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Colors */
  --main-color: #f4651d;

  --color-accent: #1c5d99;
  --color-light: #ffffff;
  --color-dark: #222222;
  --color-detail-dark: #639fab;
  --color-detail-light: #bbcde5;
}
