.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #000f26;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  box-shadow: 12px 0px 25px rgba(0, 0, 0, 0.35),
    -10px 0px 20px rgba(0, 0, 0, 0.2), 0px 6px 35px rgba(0, 0, 0, 0.25),
    0px 12px 45px rgba(0, 0, 0, 0.12), 0px 3px 8px rgba(0, 0, 0, 0.15);
}

/*styling for the logo*/
.logo {
  width: 180px;
  height: auto;
}

.navLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  height: 100%;
}

.navItem {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  text-align: left;
}

.sidebar .navItem {
  text-align: left;
  margin-left: 20%;
}

.sidebar a {
  color: white;
  padding: 5%;
  font-size: 26px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar span {
  margin-left: 10%;
  font-size: 20px;
  white-space: nowrap;
}

.navLinks {
  margin-top: 5%;
}

/* Active link highlighting */
.sidebar .navItem:hover {
  color: #f4651d;
  scale: 1.2;
}

/*Media Queries for responsiveness*/
@media (max-width: 1300px) {
  .sidebar {
    width: 10%;
  }

  .sidebar a {
    margin: 0 auto;
    display: block;
  }

  .logo {
    width: 62px;
    height: auto;
  }

  .navLinks a {
    margin-top: 15%;
    width: 100%;
  }

  .sidebar span {
    display: none; /* Hide the text labels */
  }
}

/* change to Top navigation for mobile devices */
@media (max-width: 800px) {
  .sidebar {
    width: 100vw;
    height: 20%;
    position: fixed;
    flex-direction: row;
  }

  /*styling for the logo*/
  .logo {
    width: 30px;
    height: auto;
  }

  .navLinks {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 16px;
    padding: 8px 12px;
  }

  .sidebar .navItem {
    text-align: center;
    margin-left: 0;
  }

  .sidebar a {
    color: white;
    padding: 0%;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .navLinks {
    margin-top: 0%;
  }

  .navLinks a {
    margin-top: 0%;
  }
}
