.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #000f26;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 20px 0 20px;
  transition: width 0.3s ease-in-out;
}

.logoContainer {
  width: 100%;
  text-align: center;
}

.logo {
  width: 180px;
  height: auto;
}

.brandTitle {
  font-size: 28px;
  color: white;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.sidebar a {
  color: white;
  padding: 16px;
  font-size: 18px;
  display: block;
}

.navLinks {
  padding-left: 0;
  margin-top: 20px;
}

.navItem {
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
}
/* Active link highlighting */
.navItem:hover {
  background-color: #f4651d;
  border-radius: 5px;
}
