/* Edit Profile button styling */
.btn-edit-profile {
  background: #f4651d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-edit-profile:hover {
  background: #bd4e16;
  scale: 1.1;
}

/* Profile Overlay effect */
.edit-profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /*Make sure the overlay is on top*/
}

/* Form Styling*/
.edit-profile-form {
  background: #e5edf3;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  max-height: 100vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  overflow-y: auto;
  padding-bottom: 20px;
}

/* Profile Form styling */
.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

/* Style for file input */
input[type="file"] {
  display: none; /* Hide default file input */
}

.profile-image-section .file-upload-label {
  display: inline-block;
  background: #f4651d;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.profile-image-section .file-upload-label:hover {
  background: #bd4e16;
}

/* Buttons for delete and file input */
.profile-image-section .button-group {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Full width of the section */
  gap: 10px; /* Space between buttons */
}

.btn-delete-picture {
  background: #f4651d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-delete-picture:hover {
  background: #bd4e16;
}

.profile-image-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #f4651d;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.profile-image-preview:hover {
  transform: scale(1.05);
}

/* Content Styling */
label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  text-align: left;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #f4651d;
  outline: none;
}

/* Buttons Styling */
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  cursor: pointer;
  border: none;
  background: none;
  color: #333;
  transition: color 0.2s, transform 0.2s;
}

.btn-close:hover {
  transform: scale(1.2);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-cancel,
.btn-save {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-cancel {
  background: #ccc;
}

.btn-cancel:hover {
  background: #999;
}

.btn-save {
  background: #f4651d;
  color: white;
}

.btn-save:hover {
  background: #bd4e16;
}

/* Success and Error Messages */
.success-msg,
.error-msg {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}

.success-msg {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-msg {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
