.min-h-screen {
    min-height: 100vh;
    background-color: #f3f4f6;
}


main {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr); 
    }
}

.bg-white {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.list-disc {
    list-style-type: disc;
    margin-left: 1rem;
}

.list-inside {
    list-style-position: inside;
}

li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #FFF8DC; 
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    transform: scale(1.2);
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
}

.goals-border {
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #B87333;
    height: 200px; 
    width: 750px;
    overflow-y: auto; 
}