/* Styles for Home Page */
.home-main {
  font-family: var(--primary-font);
  padding: 30px;
  padding-top: 0;
  color: #333;
  border-radius: 10px;
}

.home-main h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-main h3 {
  font-size: 32px;
  color: #2e3a59;
  font-weight: 600;
  margin-bottom: 15px;
}

.headerBlock {
  font-family: var(--primary-font);
  background-color: #2e3a59;
  color: white;
  padding: 1.5rem;
  margin: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Styling for the quote section */
.quoteSection {
  border: 1px solid rgb(185, 185, 185);
  background-color: #ffffff;
  padding: 20px;
  border-left: 5px solid #f4651d;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.quoteSection:hover {
  transform: scale(1.02);
}

.quoteSection h3 {
  font-size: 24px;
  color: #2e3a59;
  font-weight: 600;
  margin-bottom: 10px;
}

.quoteSection p {
  font-size: 18px;
  font-style: italic;
  color: #4a5b75;
}

/* Styling for skill list */
.home-ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.home-ul li {
  font-size: 18px;
  color: #4a5b75;
  margin-bottom: 10px;
}

.home-ul li h4 {
  font-size: 20px;
  font-weight: 500;
  color: #2e3a59;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  border: 1px solid rgb(185, 185, 185);
  border-left: 5px solid #f4651d;
}

.home-ul li h4:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Tutorial Section */
.home-tutorialSection {
  background-color: hsl(0, 0%, 100%);
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(185, 185, 185);
  border-left: 5px solid #f4651d;

  margin-top: 30px;
  transition: transform 0.3s ease;
}

.home-tutorialSection h2 {
  font-size: 24px;
  color: #2e3a59;
  margin-bottom: 20px;
}

.home-tutorialSection ul {
  padding: 20px;
}

.home-tutorialSection li {
  font-size: 16px;
  color: #4a5b75;
  margin-bottom: 10px;
}

.home-tutorialSection li strong {
  font-weight: bold;
  color: #f4651d;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-main,
.home-quoteSection,
.home-tutorialSection,
.headerBlock {
  animation: fadeIn 0.4s ease-out;
}
